.detail-news-block {
	padding-right: 125px;
}

.detail-news__title {
	font-size: 20px;
	line-height: 24px;
	@include font(medital);
	color: #fff;
	margin-bottom: 30px;
}

.detail-news__description {
	font-size: 16px;
	color: #fff;
	margin-bottom: 40px;
}

.detail-news__img-container {
	margin-bottom: 40px;
}

.detail-news__img {
	width: 100%;
}

.detail-news-block__top,
.detail-news-block__bottom {
	margin-right: -125px;
}

.detail-news-block__list {
	margin-bottom: 40px;
}

.detail-news-block__item {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 1px;

	&:last-child {
		margin-bottom: 0;
	}

	&:before {
		position: absolute;
		display: block;
		content: "";
		bottom: 0;
		height: 1px;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		background: image-url('bg-items/palka-3.png') no-repeat center;
	}
}