@charset "UTF-8";
/* ======= mixins ========= */
/* ===== instruments ====== */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

label {
  margin-bottom: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus {
  display: block;
  text-decoration: none;
  color: inherit;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'pfagorasanspro-reg';
  display: table;
  line-height: normal;
  background: url('../images/bg.png?1489666726');
}

.img-container {
  max-width: 100%;
}

.img-responsive {
  max-width: inherit;
}

.main {
  height: auto;
  overflow: hidden;
}

.footer {
  height: 1px;
  display: table-row;
}

.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

/* ======= sections ====== */
.container {
  width: 1000px;
}

#flashContent {
  width: auto;
  height: 580px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.flash-block {
  width: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  height: 580px;
  position: relative;
}

/*
* menu-block
*/
.menu-block {
  padding-top: 60px;
  padding-bottom: 50px;
  position: relative;
  background: url('../images/bg-items/menu-bg-shadow.png?1489747536') no-repeat;
  background-position: center -145px;
}
.menu-block:before {
  position: absolute;
  display: block;
  content: "";
  top: 5px;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-1.png?1489666929') no-repeat center;
}

.menu-block__list {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.menu-block__link,
.menu-block__link:hover,
.menu-block__link:focus {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: 'pfagorasanspro-italic';
  line-height: 24px;
  color: #fff;
  text-shadow: 0px 3px 2.61px rgba(0, 0, 1, 0.75);
  position: relative;
  padding-top: 105px;
  transition: all 0.3s;
}
.menu-block__link:hover,
.menu-block__link:hover:hover,
.menu-block__link:focus:hover {
  text-decoration: underline;
  color: #a6307f;
}
.menu-block__link:before,
.menu-block__link:hover:before,
.menu-block__link:focus:before {
  position: absolute;
  content: "";
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
.menu-block__link.galaktika:before,
.menu-block__link:hover.galaktika:before,
.menu-block__link:focus.galaktika:before {
  background: url('../images/menu-galaktika.png?1489770536') no-repeat;
  width: 226px;
  height: 135px;
  top: -22px;
}
.menu-block__link.event:before,
.menu-block__link:hover.event:before,
.menu-block__link:focus.event:before {
  background: url('../images/menu-events.png?1489667910') no-repeat;
  width: 129px;
  height: 92px;
}
.menu-block__link.magaz:before,
.menu-block__link:hover.magaz:before,
.menu-block__link:focus.magaz:before {
  background: url('../images/menu-magazine.png?1489667958') no-repeat;
  width: 89px;
  height: 88px;
}
.menu-block__link.relax:before,
.menu-block__link:hover.relax:before,
.menu-block__link:focus.relax:before {
  background: url('../images/menu-relax.png?1489667998') no-repeat;
  width: 100px;
  height: 96px;
}
.menu-block__link.servis:before,
.menu-block__link:hover.servis:before,
.menu-block__link:focus.servis:before {
  background: url('../images/menu-services.png?1489668026') no-repeat;
  width: 114px;
  height: 90px;
  left: 30%;
}
.menu-block__link.foto:before,
.menu-block__link:hover.foto:before,
.menu-block__link:focus.foto:before {
  background: url('../images/menu-camera.png?1489668064') no-repeat;
  width: 95px;
  height: 79px;
  top: 5px;
}

/*
* menu-block .. end;
*/
/*
* events-block
*/
.events-block {
  background: url('../images/bg-items/promotions-bg.png?1489668671') no-repeat center;
  height: 495px;
  padding: 65px 0 0 0;
  text-align: center;
  margin-bottom: 25px;
}

.events-block__title,
.events-block__title:hover,
.events-block__title:focus {
  text-align: center;
  font-size: 30px;
  line-height: 24px;
  font-family: 'pfagorasanspro-medium';
  color: #fff;
  border-radius: 10px;
  border: 1px dashed #fff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  display: inline-block;
  margin-bottom: 25px;
  background: #a366a2;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.events-block__title:hover,
.events-block__title:hover:hover,
.events-block__title:focus:hover {
  opacity: 0.6;
}

.owl-events .owl-events__item {
  width: 240px;
  max-height: 303px;
  overflow: hidden;
}
.owl-events .owl-stage-outer {
  margin: 0 45px 0 51px;
}
.owl-events .owl-events__img-container {
  margin-bottom: 10px;
  box-shadow: 0 10px 9px -6px rgba(0, 0, 0, 0.69);
}
.owl-events .owl-events__item-title {
  padding: 0 15px;
  font-size: 20px;
  text-decoration: underline;
  font-family: 'pfagorasanspro-mediumital';
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 1, 0.004);
  margin-bottom: 10px;
}
.owl-events .owl-events__item-description {
  padding: 0 15px;
  color: #fff;
  line-height: 19px;
  font-size: 16px;
  text-shadow: 0px 1px 2px rgba(0, 0, 1, 0.004);
}
.owl-events .owl-prev {
  top: 90px;
  left: -7px;
  position: absolute;
  font-size: 0;
  width: 50px;
  height: 50px;
  background: url('../images/bg-items/promotions-slider-arrow_left.png?1489668544') no-repeat center;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.owl-events .owl-prev:hover {
  opacity: 0.6;
}
.owl-events .owl-prev.disabled {
  opacity: 0.4;
}
.owl-events .owl-events__link {
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.owl-events .owl-events__link:hover {
  opacity: 0.6;
}
.owl-events .owl-next {
  transition: all .3s ease-in-out;
  opacity: 1;
  top: 90px;
  right: -15px;
  position: absolute;
  font-size: 0;
  width: 50px;
  height: 50px;
  background: url('../images/bg-items/promotions-slider-arrow_right.png?1489668414') no-repeat center;
}
.owl-events .owl-next:hover {
  opacity: 0.6;
}
.owl-events .owl-next.disabled {
  opacity: 0.4;
}

/*
* events-block ... end;
*/
/*
* news-block
*/
.news-block {
  padding-top: 35px;
  padding-bottom: 20px;
  position: relative;
}
.news-block:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-2.png?1489666960') no-repeat center;
}

.news-block__title {
  font-size: 30px;
  line-height: 24px;
  font-family: 'pfagorasanspro-italic';
  color: #fff;
  padding-left: 45px;
  margin-bottom: 20px;
}

.news-block__list {
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.news-block__item {
  width: 265px;
  max-height: 210px;
  overflow: hidden;
  transition: all 0.3s;
}
.news-block__item:hover .news-block__link-date,
.news-block__item:hover .news-block__link-title,
.news-block__item:hover .news-block__link-description {
  text-decoration: underline;
  color: #cc2491;
}

.news-block__link-date {
  font-family: 'pfagorasanspro-medium';
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
  transition: all 0.3s;
}

.news-block__link-title {
  transition: all 0.3s;
  font-size: 20px;
  line-height: 18px;
  color: #fff;
  font-family: 'pfagorasanspro-mediumital';
  margin-bottom: 15px;
}

.news-block__link-description {
  transition: all 0.3s;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

.news-block__img-container {
  margin-bottom: 15px;
}

.news-block__archive-link,
.news-block__archive-link:hover,
.news-block__archive-link:focus {
  font-size: 17px;
  line-height: 24px;
  color: #cc2491;
  text-align: right;
  text-decoration: underline;
  padding-right: 30px;
}

.news-block__archive-link {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.news-block__archive-link:hover {
  opacity: 0.6;
}

/*
* news-block ... end;
*/
/*
* arenda-block
*/
.arenda-block {
  position: relative;
  padding-top: 40px;
  padding-bottom: 77px;
}
.arenda-block.arenda-block_padding {
  padding-bottom: 45px;
}
.arenda-block:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-2.png?1489666960') no-repeat center;
}

.arenda-block__title {
  font-size: 30px;
  line-height: 24px;
  font-family: 'pfagorasanspro-italic';
  color: #fff;
  padding-left: 45px;
  margin-bottom: 40px;
}

.owl-arenda .owl-stage {
  white-space: nowrap;
}
.owl-arenda .owl-item {
  float: none;
  display: inline-block;
}
.owl-arenda .owl-arenda__item {
  width: 108px;
  height: 44px;
}
.owl-arenda .owl-stage-outer {
  margin: 0 45px 0 45px;
}
.owl-arenda .owl-prev {
  top: 0;
  left: -13px;
  position: absolute;
  font-size: 0;
  width: 50px;
  height: 50px;
  background: url('../images/bg-items/promotions-slider-arrow_left.png?1489668544') no-repeat center;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.owl-arenda .owl-prev:hover {
  opacity: 0.6;
}
.owl-arenda .owl-prev.disabled {
  opacity: 0.4;
}
.owl-arenda .owl-next {
  transition: all .3s ease-in-out;
  opacity: 1;
  top: 0;
  right: -17px;
  position: absolute;
  font-size: 0;
  width: 50px;
  height: 50px;
  background: url('../images/bg-items/promotions-slider-arrow_right.png?1489668414') no-repeat center;
}
.owl-arenda .owl-next:hover {
  opacity: 0.6;
}
.owl-arenda .owl-next.disabled {
  opacity: 0.4;
}

/*
* arenda-block ... end
*/
/*
* video-block
*/
.video-block {
  position: relative;
  padding: 40px 0 65px 0;
}
.video-block:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-1.png?1489666929') no-repeat center;
}

.video-block__container {
  padding: 0 155px 0 155px;
}

.video-block__title {
  font-size: 30px;
  line-height: 24px;
  font-family: 'pfagorasanspro-italic';
  color: #fff;
  padding-left: 45px;
  margin-bottom: 30px;
}

/*
* video-block ... end;
*/
/*
* footer
*/
.footer {
  position: relative;
  background: url('../images/bg-items/footer-bg-shadow.png?1489748194') no-repeat;
  background-position: center bottom;
}
.footer .footer__container {
  position: relative;
  padding-top: 50px;
}
.footer .footer__container:before {
  position: absolute;
  display: block;
  content: "";
  top: -0;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-1.png?1489666929') no-repeat center;
}

.footer__top {
  padding-bottom: 25px;
}

.footer__top-cols {
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

.footer__top-title {
  font-size: 18px;
  line-height: 24px;
  font-family: 'pfagorasanspro-italic';
  color: #979ac3;
  margin-bottom: 15px;
}

.footer__top-list {
  margin-bottom: 24px;
}

.footer__top-item {
  transition: all .3s ease-in-out;
  opacity: 1;
  color: #fff;
  text-decoration: underline;
  font-size: 15px;
  line-height: 24px;
  font-family: 'pfagorasanspro-italic';
}
.footer__top-item:hover {
  opacity: 0.6;
}

.footer__top-menu {
  margin-top: -49px;
  text-align: right;
  margin-bottom: 25px;
  font-size: 0;
}

.footer__top-menu-title,
.footer__top-menu-title:focus,
.footer__top-menu-title:hover {
  color: #979ac3;
  font-size: 14px;
  line-height: 24px;
  font-family: 'pfagorasanspro-light';
  display: inline-block;
  margin-right: 15px;
  text-decoration: underline;
  vertical-align: middle;
}

.footer__top-menu-title {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.footer__top-menu-title:hover {
  opacity: 0.6;
}

.footer__top-menu-list {
  display: inline-block;
  vertical-align: middle;
}

.footer__top-menu-item {
  margin-right: 15px;
  height: 14px;
  width: 17px;
  display: inline-block;
}
.footer__top-menu-item:last-child {
  margin-right: 0;
}

.footer__top-menu-link {
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.footer__top-menu-link:hover {
  opacity: 0.6;
}
.footer__top-menu-link.search {
  background: url('../images/bg-items/menu-icons.png?1489670967') no-repeat;
  background-position: 2px 0px;
}
.footer__top-menu-link.mail {
  background: url('../images/bg-items/menu-icons.png?1489670967') no-repeat;
  background-position: -30px 0px;
}
.footer__top-menu-link.net {
  background: url('../images/bg-items/menu-icons.png?1489670967') no-repeat;
  background-position: -63px 0px;
}
.footer__top-menu-link.exit {
  background: url('../images/bg-items/menu-icons.png?1489670967') no-repeat;
  background-position: -95px 0px;
}

.footer__top-socials__title {
  font-size: 18px;
  line-height: 24px;
  color: #979ac3;
  font-family: 'pfagorasanspro-italic';
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
}

.footer__top-socials-list {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
}

.footer__top-socials-item {
  display: inline-block;
  margin-right: 12px;
  width: 28px;
  height: 28px;
}
.footer__top-socials-item:last-child {
  margin-right: 0;
}

.footer__top-socials {
  text-align: right;
}

.footer__top-socials-link {
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
  opacity: 1;
  background: url('../images/bg-items/socials-icons.png?1489670955') no-repeat;
}
.footer__top-socials-link:hover {
  opacity: 0.6;
}
.footer__top-socials-link.inst {
  background-position: 0px 0px;
}
.footer__top-socials-link.fb {
  background-position: -39px 0px;
}
.footer__top-socials-link.tw {
  background-position: -79px 0px;
}
.footer__top-socials-link.vk {
  background-position: -118px 0px;
}
.footer__top-socials-link.ok {
  background-position: -158px 0px;
}

.footer__bottom {
  padding: 65px 0 35px 0;
  position: relative;
  text-align: center;
}
.footer__bottom:before {
  position: absolute;
  display: block;
  content: "";
  top: -0;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-2.png?1489666960') no-repeat center;
}

.footer__bottom-info {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-family: 'pfagorasanspro-italic';
  margin-bottom: 65px;
}

.footer__bottom-email,
.footer__bottom-email:focus,
.footer__bottom-email:hover {
  text-decoration: underline;
}

.footer__bottom-email {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.footer__bottom-email:hover {
  opacity: 0.6;
}

.footer__bottom-top-btn,
.footer__bottom-top-btn:focus,
.footer__bottom-top-btn:hover {
  font-size: 17px;
  line-height: 24px;
  font-family: 'pfagorasanspro-italic';
  color: #545fa8;
  border-radius: 10px;
  padding: 7px 20px;
  border: 1px dashed #fff;
  display: inline-block;
}

.footer__bottom-top-btn {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.footer__bottom-top-btn:hover {
  opacity: 0.6;
}

.lk-top__container {
  margin-left: -5000px;
  margin-right: -5000px;
  padding-left: 5000px;
  padding-right: 5000px;
  position: relative;
  background: linear-gradient(to top, #520f51 50%, #b277b1 100%);
}
.lk-top__container:after {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/bg-items/registration-bg-shadow.png?1489759703') no-repeat center -145px;
}

.lk-top__list {
  display: flex;
  justify-content: space-between;
  padding: 55px 35px 55px 35px;
  position: relative;
  z-index: 1;
}

.lk-top__item {
  position: relative;
  padding-top: 83px;
  line-height: 60px;
  text-align: center;
  font-family: 'pfagorasanspro-italic';
  text-shadow: 0px 3px 2.61px rgba(0, 0, 1, 0.75);
  color: #fff;
}
.lk-top__item.info {
  font-size: 16px;
}
.lk-top__item.info:before {
  background: url('../images/bg-items/lk-btn-1.png?1490081585') no-repeat;
  width: 75px;
  height: 75px;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  position: absolute;
  display: block;
  content: "";
}
.lk-top__item.request {
  font-size: 18px;
}
.lk-top__item.request:before {
  background: url('../images/bg-items/lk-btn-2.png?1490081861') no-repeat;
  width: 75px;
  height: 75px;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  position: absolute;
  display: block;
  content: "";
}
.lk-top__item.manager {
  font-size: 20px;
}
.lk-top__item.manager:before {
  background: url('../images/bg-items/lk-btn-3.png?1490081679') no-repeat;
  width: 75px;
  height: 75px;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  position: absolute;
  display: block;
  content: "";
}

.lk-top__link {
  width: 269px;
  height: 64px;
  background: url('../images/bg-items/lk-btn-bg.png?1490082449') no-repeat;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.lk-top__link:hover {
  opacity: 0.6;
}

.multi-page__title {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  font-family: 'pfagorasanspro-mediumital';
}

.multi-page__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 75px 85px 0px 45px;
}

.multi-page__item {
  flex-basis: 26%;
  transition: all .3s ease-in-out;
  opacity: 1;
  width: 100px;
  text-align: center;
  position: relative;
  color: #fff;
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 65px;
}
.multi-page__item:hover {
  opacity: 0.6;
}
.multi-page__item:before {
  display: block;
  position: absolute;
  content: "";
  transform: translateX(-50%);
  left: 50%;
  top: 0;
}
.multi-page__item.video:before {
  background: url('../images/bg-items/video-icon.png?1490086717') no-repeat;
  width: 52px;
  height: 48px;
}
.multi-page__item.audio:before {
  background: url('../images/bg-items/audio-icon.png?1490086729') no-repeat;
  width: 61px;
  height: 48px;
}

.multi-page__link {
  padding-top: 60px;
  position: relative;
}

.multi-page__file {
  display: none !important;
}

.multi-page__subm-btn,
.multi-page__subm-btn:hover,
.multi-page__subm-btn:focus {
  display: inline-block;
  transition: all .3s ease-in-out;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  transition: all .3s ease-in-out;
  opacity: 1;
  cursor: pointer;
  background: #520f51;
  border-radius: 15px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding: 0 25px;
  margin-bottom: 55px;
}
.multi-page__subm-btn:hover,
.multi-page__subm-btn:hover:hover,
.multi-page__subm-btn:focus:hover {
  opacity: 0.6;
}

.multi-page__info-title {
  font-size: 20px;
  line-height: 18px;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'pfagorasanspro-mediumital';
}

.multi-page__info-description {
  font-size: 16px;
  color: #fff;
}

.boutique-top__img-container {
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  width: 1920px;
}
.boutique-top__img-container:after {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/bg-items/registration-bg-shadow.png?1489759703') no-repeat center -145px;
}

.breacrumbs-block__description {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  line-height: 24px;
  vertical-align: bottom;
  margin-left: 10px;
  font-family: 'pfagorasanspro-medium';
}

.boutique-block__title {
  text-decoration: underline;
  font-size: 30px;
  line-height: 30px;
  color: #1eb1cc;
}

.boutique-block__text {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.boutique-block__description {
  margin-bottom: 20px;
}

.boutique-block__img-container {
  float: left;
  margin-right: 15px;
  margin-top: 4px;
}

.boutique-block__event {
  background: linear-gradient(to top, #271237, #520f51);
  padding: 25px 30px 30px 30px;
  position: relative;
  font-size: 22px;
  line-height: 30px;
  font-family: 'pfagorasanspro-italic';
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 1, 0.004);
}
.boutique-block__event:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-4.png?1490008971') no-repeat center;
}
.boutique-block__event:after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-4.png?1490008971') no-repeat center;
}

.finans-page__title {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  font-family: 'pfagorasanspro-mediumital';
  margin-bottom: 20px;
}

.registration-block__input.finans-page__input {
  width: 245px;
  margin-bottom: 0;
  height: 40px;
  margin-right: 20px;
}

.finans-page__form {
  display: flex;
  align-items: center;
}

.registration-block__submit-btn.finans-page__submit-btn {
  margin-bottom: 0;
  height: 40px;
  margin-left: 20px;
}

.finans-page__top {
  position: relative;
  margin-bottom: 35px;
  padding-bottom: 35px;
}
.finans-page__top:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-3.png?1490002202') no-repeat center;
}

.finans-page__center-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.finans__general-date {
  font-size: 18px;
  line-height: 25px;
  font-family: 'pfagorasanspro-italic';
  color: #ba368c;
}

.finans__inner-list {
  position: relative;
}
.finans__inner-list:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-3.png?1490002202') no-repeat center;
}

.finans-page__bottom {
  padding: 25px 0 0 0;
}

.finans__inner-list {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

.finans__inner-item {
  flex: 0 0 33%;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  font-size: 16px;
  text-decoration: underline;
  text-align: center;
  transition: all .3s ease-in-out;
  opacity: 1;
  position: relative;
  margin-bottom: 20px;
}
.finans__inner-item:hover {
  opacity: 0.6;
}
.finans__inner-item:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 35px;
  height: 45px;
  transform: translateX(-50%);
  background: url('../images/bg-items/document-ico.png?1490089526') no-repeat;
}

.finans__inner-link {
  padding-top: 55px;
  position: relative;
}

.finans__general-item {
  margin-bottom: 25px;
}
.finans__general-item:last-child {
  margin-bottom: 0;
}

.gallery-page__item {
  height: 165px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
}
.gallery-page__item.col-xs-3 {
  padding-right: 6px;
  padding-left: 6px;
}

.gallery-page__img-container {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.gallery-page__list {
  margin-right: -12px;
  font-size: 0;
  position: relative;
}
.gallery-page__list.row {
  margin-left: -6px;
  margin-right: -6px;
}

.gellery-page__list-container {
  position: relative;
  margin-bottom: 20px;
}
.gellery-page__list-container:after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-3.png?1490002202') no-repeat center;
}

.gallery-page__link {
  width: 100%;
  height: 100%;
}

.history-page__list {
  padding-left: 25px;
}

.history-page__item {
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 20px;
}
.history-page__item:last-child {
  margin-bottom: 0;
}
.history-page__item:last-child:before {
  display: none;
}
.history-page__item:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-3.png?1490002202') no-repeat center;
}

.history-page__item-top {
  font-size: 16px;
  font-family: 'pfagorasanspro-italic';
  margin-bottom: 10px;
}

.history-page__item-date {
  margin-right: 10px;
  display: inline-block;
}

.history-page__item-name {
  display: inline-block;
}

.history-page__item-desc-title {
  font-size: 16px;
  font-family: 'pfagorasanspro-medium';
  display: inline-block;
  margin-right: 5px;
  color: #fff;
}

.history-page__item-description-text {
  position: relative;
  font-size: 16px;
  font-family: 'pfagorasanspro-lightital';
}
.history-page__item-description-text:before {
  display: inline-block;
  content: "«";
  font-size: 35px;
  font-family: 'pfagorasanspro-reg';
  line-height: 1px;
}
.history-page__item-description-text:after {
  display: inline-block;
  content: "»";
  font-size: 35px;
  font-family: 'pfagorasanspro-reg';
  line-height: 1px;
}

.history-page__question {
  color: #fff;
  margin-bottom: 15px;
}

.history-page__answer {
  color: #1eadcb;
  padding-left: 70px;
}

.info-page__list.news-page__list {
  margin-bottom: 0;
}
.info-page__list.news-page__list .news-page__item {
  padding-left: 30px;
  height: auto;
}
.info-page__list.news-page__list .news-page__item:last-child:before {
  display: none;
}
.info-page__list.news-page__list .news-page__item-top-description {
  font-family: 'pfagorasanspro-lightital';
}

.lk-profile__title {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  padding-left: 20px;
}

.lk-profile__info {
  padding: 35px 0;
}

.lk-profile__tel,
.lk-profile__email,
.lk-profile__name,
.lk-profile__adress {
  margin-bottom: 25px;
  width: 355px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  padding: 0 70px 0 20px;
  background: #520f51;
  position: relative;
  border-radius: 15px;
}
.lk-profile__tel:before,
.lk-profile__email:before,
.lk-profile__name:before,
.lk-profile__adress:before {
  display: block;
  position: absolute;
  content: "";
  top: 45%;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  background: url('../images/bg-items/pen-ico.png?1490183803') no-repeat;
  right: 20px;
}
.lk-profile__tel:last-child,
.lk-profile__email:last-child,
.lk-profile__name:last-child,
.lk-profile__adress:last-child {
  margin-bottom: 0;
}

.lk-profile__files-title {
  font-size: 18px;
  color: #fff;
  padding-left: 20px;
  margin-bottom: 30px;
}

.lk-profile__files-item {
  margin-bottom: 25px;
  padding-left: 40px;
  display: flex;
  width: 510px;
  align-items: center;
}

.lk-profile__files-name,
.lk-profile__files-name:hover,
.lk-profile__files-name:focus {
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
  max-width: 315px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lk-profile__files-name {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.lk-profile__files-name:hover {
  opacity: 0.6;
}

.lk-profile__files-img-container {
  max-width: 37px;
  margin-right: 20px;
}

.lk-profile__files-img {
  width: 100%;
}

.lk-profile__remove,
.lk-profile__remove:hover,
.lk-profile__remove:focus {
  font-size: 18px;
  color: #ba368c;
  margin-left: auto;
  text-decoration: underline;
}

.lk-profile__remove {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.lk-profile__remove:hover {
  opacity: 0.6;
}

.lk-profile__files-list {
  margin-bottom: 30px;
}

.reklama-page__title {
  font-size: 20px;
  color: #fff;
  font-family: 'pfagorasanspro-mediumital';
  line-height: 24px;
  margin-bottom: 25px;
}

.reklama-page__form {
  width: 355px;
  margin-bottom: 60px;
}

.registration-block__input.reklama-page__input {
  margin-bottom: 50px;
}

.reklama-page__description {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.lk-page__description {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.content-block {
  padding-top: 35px;
  padding-bottom: 30px;
}

.content-block_padd {
  padding-left: 45px;
}

.sidebar {
  margin-right: -20px;
}

.sidebar__item {
  font-size: 23px;
  line-height: 30px;
  font-family: 'pfagorasanspro-italic';
  color: #fff;
}
.sidebar__item.active .sidebar__link-title,
.sidebar__item.active .sidebar__link-title:hover,
.sidebar__item.active .sidebar__link-title:focus {
  color: #ba368c;
}

.sidebar__link-title,
.sidebar__link-title:hover,
.sidebar__link-title:focus {
  display: inline-block;
}

.sidebar__link-title:hover {
  text-decoration: underline;
}

.sidebar__item-list {
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sidebar__item-item {
  margin-bottom: 4px;
  position: relative;
  color: #fff;
  font-size: 18px;
  font-family: 'pfagorasanspro-italic';
  padding-left: 15px;
  line-height: 20px;
}
.sidebar__item-item.active {
  color: #ba368c;
  text-decoration: underline;
}
.sidebar__item-item:before {
  content: "-";
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
}
.sidebar__item-item:last-child {
  margin-bottom: 0;
}

.sidebar__item-link,
.sidebar__item-link:hover,
.sidebar__item-link:focus {
  display: inline-block;
}

.sidebar__item-link:hover {
  text-decoration: underline;
}

.content-block__tomain-btn,
.content-block__tomain-btn:hover,
.content-block__tomain-btn:focus {
  display: inline-block;
  color: #565aa1;
  font-size: 15px;
  text-decoration: underline;
  font-family: 'pfagorasanspro-italic';
  position: absolute;
  top: -20px;
  right: 15px;
}

.content-block__tomain-btn {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.content-block__tomain-btn:hover {
  opacity: 0.6;
}

.news-page__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.news-page__title {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  font-family: 'pfagorasanspro-mediumital';
}

.pagination__list {
  font-size: 0;
  text-align: right;
}

.pagination__item {
  margin-right: 16px;
  position: relative;
  font-size: 18px;
  text-shadow: 0px 3px 2.61px rgba(0, 0, 1, 0.75);
  color: #ba368c;
  line-height: 25px;
  font-family: 'pfagorasanspro-italic';
  display: inline-block;
}
.pagination__item.active {
  font-size: 22px;
  color: #fff;
}
.pagination__item.active:before {
  color: #ba368c;
}
.pagination__item:last-child {
  margin-right: 0;
}
.pagination__item:last-child:before {
  display: none;
}
.pagination__item:before {
  position: absolute;
  content: "-";
  display: inline-block;
  right: -11px;
}

.pagination__link {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.pagination__link:hover {
  opacity: 0.6;
}

.news-page__item-top {
  margin-bottom: 30px;
}

.news-page__item-top-date {
  display: inline-block;
  color: #fff;
  font-family: 'pfagorasanspro-italic';
  font-size: 16px;
  margin-right: 15px;
}

.news-page__item-top-title {
  display: inline-block;
  color: #fff;
  font-family: 'pfagorasanspro-italic';
  font-size: 16px;
}

.news-page__item-content {
  display: flex;
}

.news__img-container {
  overflow: hidden;
  width: 90px;
  height: 90px;
  position: relative;
  flex: 0 0 90px;
  margin-right: 30px;
}

.news__img {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.news-page__item-top-description {
  font-size: 16px;
  color: #fff;
  margin-top: -4px;
  max-height: 115px;
  overflow: hidden;
}

.news-page__item-top-link {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.news-page__item-top-link:hover {
  opacity: 0.6;
}

.news-page__item-top-link,
.news-page__item-top-link:hover,
.news-page__item-top-link:focus {
  display: inline-block;
}

.news-page__item {
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 25px;
  height: 185px;
}
.news-page__item:last-child {
  margin-bottom: 0;
}
.news-page__item:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-3.png?1490002202') no-repeat center;
}

.news-page__list {
  margin-bottom: 55px;
}

/*
* datepick
*/
.ui-datepicker {
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  background: #fff;
}

.ui-widget-header {
  border: 1px solid #dddddd;
  background: #e9e9e9;
  color: #333333;
  font-weight: bold;
  border-radius: 3px;
}

.ui-state-default {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
}

.ui-state-default.ui-state-highlight {
  border: 1px solid #dad55e;
  background: #fffa90;
  color: #777620;
}

.ui-state-default.ui-state-active {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: normal;
  color: #ffffff;
}

.ui-datepicker-prev.ui-corner-all,
.ui-datepicker-next.ui-corner-all {
  border: 1px solid #cccccc;
  background: #ededed;
}

.ui-icon.ui-icon-circle-triangle-w {
  cursor: pointer;
  background: url('../images/bg-items/arrow_black_left.png?1484551537') no-repeat;
  width: 6px;
  height: 11px;
  margin-left: 0 !important;
  margin-top: 0 !important;
  transform: translate(-50%, -50%);
}

.ui-icon.ui-icon-circle-triangle-e {
  background: url('../images/bg-items/arrow_black_right.png?1484551534') no-repeat;
  margin-left: 0 !important;
  margin-top: 0 !important;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 11px;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px !important;
  top: 2px !important;
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 2px !important;
  top: 2px !important;
}

.news-page__input-date {
  width: 173px;
  border: none;
  outline: none;
  background: #520f51;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
  border-radius: 15px;
  cursor: pointer;
  height: 40px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.news-page__input-date:hover {
  opacity: 0.6;
}

.feedback-page__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.feedback-page__title {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  font-family: 'pfagorasanspro-mediumital';
}

.feedback-page__history-btn,
.feedback-page__history-btn:hover,
.feedback-page__history-btn:focus {
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 15px;
  background: #520f51;
  text-decoration: underline;
  color: #fff;
  font-size: 18px;
}

.feedback-page__history-btn {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.feedback-page__history-btn:hover {
  opacity: 0.6;
}

.feedback-page__form {
  display: inline-block;
}

.registration-block__input.feedback-page__input {
  margin-bottom: 45px;
}

.feedback-page__textarea {
  height: 150px;
  resize: none;
  border-radius: 15px;
  padding: 11px 20px;
  font-size: 16px;
  color: #fff;
  font-family: 'pfagorasanspro-italic';
  background: #520f51;
  width: 355px;
  margin-bottom: 25px;
  border: none;
  outline: none;
  line-height: 19px;
}
.feedback-page__textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.feedback-page__textarea > .scroll-content {
  padding: 11px 18px;
}
.feedback-page__textarea .feedback-page__textarea {
  border-radius: 0;
}

.registration-block__submit-btn.feedback-page__submit-btn {
  display: block;
  margin: 0 auto;
}

/*
* scroll-bar
*/
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}

.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-element {
  display: none;
}

.scroll-element, .scroll-element div {
  box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}

.scroll-element.scroll-x.scroll-scrollx_visible {
  display: none;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default;
}

.scroll-textarea > .scroll-content {
  overflow: hidden !important;
}

.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 11px 20px;
  padding-right: 60px;
  position: relative !important;
  top: 0;
  width: 110% !important;
}

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scrollbar-outer > .scroll-element.scroll-y {
  right: 14px;
  height: 123px;
  top: 50%;
  width: 18px;
  background: transparent;
  transform: translateY(-50%);
  margin-top: 9px;
}

.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer {
  width: 100%;
  left: 0;
  border-radius: 0;
}

.scrollbar-outer > .scroll-element .scroll-element_track {
  background: #933a92;
  border-radius: 0;
}

.scrollbar-outer > .scroll-element .scroll-bar {
  background: #3a0839;
  border-radius: 0;
}

.scrollbar-outer > .scroll-element .scroll-arrow.scroll-arrow_less {
  top: -9px;
  height: 0px;
  width: 0px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
}

.scrollbar-outer > .scroll-element .scroll-arrow.scroll-arrow_more {
  bottom: 5px;
  z-index: 11;
  top: auto;
  width: 0px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #fff;
}

/*
* scroll-bar... end;
*/
.relkama-in-page__list {
  padding-top: 55px;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -60px;
}

.relkama-in-page__item {
  width: 190px;
  margin-bottom: 40px;
  margin-right: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  font-family: 'pfagorasanspro-italic';
}

.relkama-in-page__img-container {
  margin-bottom: 15px;
}

.relkama-in-page__img {
  width: 100%;
}

.shops-block {
  padding-bottom: 85px;
}

.shops-block__title {
  position: relative;
  padding-left: 110px;
  padding-top: 38px;
  text-decoration: underline;
  font-size: 35px;
  line-height: 30px;
  font-family: 'pfagorasanspro-medium';
  color: #ba368c;
  margin-bottom: 38px;
}
.shops-block__title:before {
  position: absolute;
  display: block;
  content: "";
  width: 89px;
  height: 88px;
  background: url('../images/menu-magazine.png?1489667958') no-repeat;
  top: -12px;
  left: 0;
}

.shops-block__item {
  margin-bottom: 30px;
}
.shops-block__item:last-child {
  margin-bottom: 0;
}

.shops-block__link,
.shops-block__link:hover,
.shops-block__link:focus {
  display: inline-block;
  text-decoration: underline;
  font-size: 30px;
  line-height: 30px;
  font-family: 'pfagorasanspro-mediumital';
  color: #1eb1cc;
  margin-bottom: 10px;
}

.shops-block__link {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.shops-block__link:hover {
  opacity: 0.6;
}

.shops-block__item-list {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shops-block__item-list:after {
  content: "";
  flex: auto;
}

.shops-block__item-item {
  display: inline-block;
}
.shops-block__item-item:last-child .shops-block__item-link:after,
.shops-block__item-item:last-child .shops-block__item-link:hover:after,
.shops-block__item-item:last-child .shops-block__item-link:focus:after {
  display: none;
}

.shops-block__item-link,
.shops-block__item-link:hover,
.shops-block__item-link:focus {
  transition: all .3s;
  display: inline-block;
  text-decoration: underline;
  font-family: 'pfagorasanspro-mediumital';
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  position: relative;
}
.shops-block__item-link:after,
.shops-block__item-link:hover:after,
.shops-block__item-link:focus:after {
  display: inline-block;
  content: ",";
  padding-right: 5px;
  text-decoration: underline;
}

.shops-block__item-link:hover {
  color: #ba368c;
}

.detail-news-block {
  padding-right: 125px;
}

.detail-news__title {
  font-size: 20px;
  line-height: 24px;
  font-family: 'pfagorasanspro-mediumital';
  color: #fff;
  margin-bottom: 30px;
}

.detail-news__description {
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
}

.detail-news__img-container {
  margin-bottom: 40px;
}

.detail-news__img {
  width: 100%;
}

.detail-news-block__top,
.detail-news-block__bottom {
  margin-right: -125px;
}

.detail-news-block__list {
  margin-bottom: 40px;
}

.detail-news-block__item {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 1px;
}
.detail-news-block__item:last-child {
  margin-bottom: 0;
}
.detail-news-block__item:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-3.png?1490002202') no-repeat center;
}

.zay-page .feedback-page__history-btn {
  width: 190px;
}

/* select */
.select2-container {
  outline: none;
  display: block;
  width: 355px !important;
}
.select2-container .select2-selection {
  outline: 1px solid transparent;
  width: 100%;
  height: 38px;
  border-radius: 15px;
  border: none;
  padding: 0 20px;
  line-height: 38px;
  margin-bottom: 25px;
  font-size: 16px;
  font-family: 'pfagorasanspro-reg';
  color: #fff;
  background: #520f51;
}
.select2-container .select2-selection__rendered {
  color: #fff !important;
  width: 100%;
  line-height: inherit !important;
  padding-left: 0 !important;
}
.select2-container .selection {
  display: block;
  width: 100%;
}
.select2-container .select2-selection__arrow {
  top: 50% !important;
  right: 14px;
  position: absolute;
  display: block;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #fff;
}
.select2-container .select2-selection__arrow b {
  display: none;
}

.select2-search--dropdown {
  display: none;
}

.select2-dropdown {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'pfagorasanspro-reg';
}
.select2-dropdown .select2-results__option {
  padding: 10px 20px;
}
.select2-dropdown .select2-results__option[aria-selected=true] {
  background-color: #cd68cc;
  color: #fff;
}
.select2-dropdown .select2-results__option--highlighted[aria-selected] {
  background-color: #3a0839;
  color: #fff;
}
.select2-dropdown .select2-results__option:first-child {
  display: none;
}

/* select ... end */
.zay-page__input-date {
  height: 38px;
  line-height: 38px;
  border-radius: 15px;
  padding: 10px 20px;
  background: #520f51;
  color: #fff;
  font-size: 16px;
  border: none;
  width: 355px;
  cursor: pointer;
  outline: none;
}

.zay-page__input-date-wrap {
  margin-bottom: 25px;
  position: relative;
  cursor: pointer;
}
.zay-page__input-date-wrap:before {
  cursor: pointer;
  display: block;
  content: "";
  position: absolute;
  top: 50% !important;
  right: 14px;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #fff;
}

.zay-page__textarea-title {
  font-size: 16px;
  font-family: 'pfagorasanspro-light';
  margin-bottom: 10px;
  color: #fff;
}

/*
* header
*/
.header {
  padding: 25px 0 10px 0;
}
.header .footer__top-menu {
  margin-top: 0;
}
.header .header-container {
  position: relative;
}
.header .header-container:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -10px;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/bg-items/palka-1.png?1489666929') no-repeat center;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header__nav-list {
  font-size: 0;
}

.header__logo-text {
  font-size: 0;
  text-indent: -999999;
}

.header__nav-item {
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
  line-height: 75px;
  width: 75px;
  text-align: center;
  height: 75px;
  color: #fff;
  border-radius: 50%;
  font-family: 'pfagorasanspro-mediumital';
  text-shadow: 0px 3px 2.61px rgba(0, 0, 1, 0.75);
  background: url('../images/bg-items/nav-button.png?1489750201') no-repeat center;
}
.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.header__nav-item:hover {
  opacity: 0.6;
}

.header__nav-link {
  width: 100%;
  height: 100%;
}

.header-bottom {
  text-align: right;
}

.header-bottom__tomain-btn,
.header-bottom__tomain-btn:hover,
.header-bottom__tomain-btn:focus {
  display: inline-block;
  color: #565aa1;
  font-size: 15px;
  text-decoration: underline;
  font-family: 'pfagorasanspro-italic';
}

.header-bottom__tomain-btn {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.header-bottom__tomain-btn:hover {
  opacity: 0.6;
}

/*
* header ... end;
*/
/*
* breadcrumbs-block
*/
.breadcrumbs-block {
  margin-top: 50px;
  margin-bottom: 40px;
}

.breadcrumbs-block__list {
  text-align: center;
  font-size: 0;
}

.breadcrumbs-block__item {
  font-size: 20px;
  vertical-align: middle;
  line-height: 30px;
  color: #ba368c;
  text-decoration: underline;
  font-family: 'pfagorasanspro-medium';
  margin-right: 30px;
  display: inline-block;
  position: relative;
}
.breadcrumbs-block__item:first-child {
  color: #1eadcb;
}
.breadcrumbs-block__item:after {
  display: block;
  content: "/";
  position: absolute;
  right: -20px;
  top: 0;
  font-size: 20px;
  color: #ba368c;
}
.breadcrumbs-block__item:nth-last-child(2):after {
  display: block;
  content: "/";
  position: absolute;
  right: -20px;
  top: 0;
  font-size: 35px;
  color: #ba368c;
}
.breadcrumbs-block__item:last-child {
  display: inline;
  margin-right: 0;
  font-size: 35px;
  color: #ba368c;
}
.breadcrumbs-block__item:last-child:after {
  display: none;
}

.breadcrumbs-block__link {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.breadcrumbs-block__link:hover {
  opacity: 0.6;
}

/*
* breadcrumbs-block ... end;
*/
/*
* registration-block 
*/
.registration-block {
  padding-bottom: 145px;
}

.authoriz-form__title {
  font-size: 20px;
  line-height: 24px;
  font-family: 'pfagorasanspro-mediumital';
  margin-bottom: 20px;
  color: #fff;
}

.registration-block__input {
  width: 355px;
  border-radius: 15px;
  padding: 11px 20px;
  font-size: 16px;
  color: #fff;
  font-family: 'pfagorasanspro-italic';
  margin-bottom: 25px;
  border: none;
  outline: none;
  display: block;
}
.registration-block__input.blue {
  background: #1eadcb;
}
.registration-block__input.pink {
  background: #520f51;
}
.registration-block__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.registration-block__input.last {
  margin-bottom: 35px;
}

.registration-block__submit-btn {
  margin-bottom: 35px;
  transition: all .3s ease-in-out;
  opacity: 1;
  width: 175px;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  text-decoration: underline;
}
.registration-block__submit-btn:hover {
  opacity: 0.6;
}
.registration-block__submit-btn.blue {
  background: #1eadcb;
}

.registration-block__left {
  padding-right: 60px;
  padding-left: 55px;
}

.register-form__title {
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  font-family: 'pfagorasanspro-mediumital';
  margin-bottom: 32px;
}

.register-form__require-text {
  font-size: 16px;
  color: #fff;
  font-family: 'pfagorasanspro-italic';
  position: relative;
  padding-right: 30px;
  margin-bottom: 35px;
}
.register-form__require-text:before {
  right: 25px;
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url('../images/bg-items/star.png?1489752899') no-repeat;
  width: 15px;
  height: 16px;
}

.register-form__require-container {
  position: relative;
}
.register-form__require-container:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url('../images/bg-items/star.png?1489752899') no-repeat;
  left: -7px;
  width: 15px;
  height: 16px;
}

.register-form__item {
  margin-bottom: 25px;
}

.register-form__radio {
  display: none;
}

.register-form__label {
  cursor: pointer;
}

.register-form__label-text {
  padding-left: 20px;
  display: inline-block;
  padding-right: 60px;
  position: relative;
  font-size: 16px;
  color: #fff;
  font-family: 'pfagorasanspro-italic';
}
.register-form__label-text:before {
  position: absolute;
  display: block;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 38px;
  border-radius: 15px;
  background: #520f51;
}

.register-form__radio:checked + .register-form__label-text:after {
  display: block;
  content: "";
  position: absolute;
  right: 15px;
  background: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.register-form__item-text {
  padding-left: 20px;
  margin-right: 7px;
  font-family: 'pfagorasanspro-italic';
  font-size: 16px;
  color: #fff;
  display: inline-block;
}

.registration-block__input_small {
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-family: 'pfagorasanspro-italic';
  width: 45px;
  height: 38px;
  border-radius: 15px;
  background: #520f51;
  padding: 5px;
  text-align: center;
}
.registration-block__input_small.small_first {
  margin-right: 5px;
}
.registration-block__input_small::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.register-form__attach-text {
  vertical-align: middle;
  padding-left: 20px;
  margin-right: 7px;
  font-family: 'pfagorasanspro-italic';
  font-size: 16px;
  color: #fff;
  display: inline-block;
}

.register-form__file {
  display: none !important;
}

.register-form__label-file {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  transition: all .3s ease-in-out;
  opacity: 1;
  width: 140px;
  cursor: pointer;
  background: #520f51;
  border-radius: 15px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding: 0 5px;
}
.register-form__label-file:hover {
  opacity: 0.6;
}

.register-form__attach {
  margin-bottom: 25px;
}

.registration-block__right {
  padding-right: 113px;
}

.registration-block__clear-btn,
.registration-block__clear-btn:focus,
.registration-block__clear-btn:hover {
  width: 175px;
  background: #482f48;
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  clear: both;
  text-decoration: underline;
}

.registration-block__clear-btn {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.registration-block__clear-btn:hover {
  opacity: 0.6;
}

/*
* registration-block ...end; 
*/

/*# sourceMappingURL=main.css.map */
