/*
* header
*/

.header {
	padding: 25px 0 10px 0;
	
	.footer__top-menu {
		margin-top: 0;
	}

	.header-container {
		position: relative;

		&:before {
			position: absolute;
			display: block;
			content: "";
			bottom: -10px;
			height: 1px;
			width: 100%;
			left: 50%;
			transform: translateX(-50%);
			background: image-url('bg-items/palka-1.png') no-repeat center;
		}
	}
}

.header-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.header__nav-list {
	font-size: 0;
}

.header__logo-text {
	font-size: 0;
	text-indent: -999999;
}

.header__nav-item {
	display: inline-block;
	margin-right: 10px;
	font-size: 13px;
	line-height: 75px;
	width: 75px;
	text-align: center;
	height: 75px;
	color: #fff;
	border-radius: 50%;
	@include font(medital);
	text-shadow: 0px 3px 2.61px rgba(0, 0, 1, 0.75);
	background: image-url('bg-items/nav-button.png') no-repeat center;

	&:last-child {
		margin-right: 0;
	}
}

.header__nav-item {
	@include linksHover();
}

.header__nav-link {
	width: 100%;
	height: 100%;
}

.header-bottom {
	text-align: right;
}

.header-bottom__tomain-btn,
.header-bottom__tomain-btn:hover,
.header-bottom__tomain-btn:focus {
	display: inline-block;
	color: #565aa1;
	font-size: 15px;
	text-decoration: underline;
	@include font(ital);
}

.header-bottom__tomain-btn {
	@include linksHover();
}


/*
* header ... end;
*/

/*
* breadcrumbs-block
*/

.breadcrumbs-block {
	margin-top: 50px;
	margin-bottom: 40px;
}

.breadcrumbs-block__list {
	text-align: center;
	font-size: 0;
}

.breadcrumbs-block__item {
	font-size: 20px;
	vertical-align: middle;
	line-height: 30px;
	color: #ba368c;
	text-decoration: underline;
	@include font(med);
	margin-right: 30px;
	display: inline-block;
	position: relative;

	&:first-child {
		color: #1eadcb;
	}

	&:after {
		display: block;
		content: "/";
		position: absolute;
		right: -20px;
		top: 0;
		font-size: 20px;
		color: #ba368c;
	}

	&:nth-last-child(2):after {
		display: block;
		content: "/";
		position: absolute;
		right: -20px;
		top: 0;
		font-size: 35px;
		color: #ba368c;
	}

	&:last-child {
		display: inline;
		margin-right: 0;
		font-size: 35px;
		color: #ba368c;

		&:after {
			display: none;
		}
	}
}

.breadcrumbs-block__link {
	@include linksHover();
}


/*
* breadcrumbs-block ... end;
*/

/*
* registration-block 
*/

.registration-block {
	padding-bottom: 145px;
}

.authoriz-form__title {
	font-size: 20px;
	line-height: 24px;
	@include font(medital);
	margin-bottom: 20px;
	color: #fff;
}

.registration-block__input {
	width: 355px;
	border-radius: 15px;
	padding: 11px 20px;
	font-size: 16px;
	color: #fff;
	@include font(ital);
	margin-bottom: 25px;
	border: none;
	outline: none;
	display: block;

	&.blue {
		background: #1eadcb;
	}

	&.pink {
		background: #520f51;
	}

	&::-webkit-input-placeholder {
		color: rgba(255,255,255, 0.7);
	}

	&.last {
		margin-bottom: 35px;
	}
	
}

.registration-block__submit-btn {
	margin-bottom: 35px;
	@include linksHover();
	width: 175px;
	display: inline-block;
	font-size: 18px;
	color: #fff;
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
	outline: none;
	text-decoration: underline;

	&.blue {
		background: #1eadcb;
	}
}

.registration-block__left{
	padding-right: 60px;
	padding-left: 55px;
}

.register-form__title {
	color: #fff;
	font-size: 24px;
	line-height: 24px;
	@include font(medital);
	margin-bottom: 32px;
}

.register-form__require-text {
	font-size: 16px;
	color: #fff;
	@include font(ital);
	position: relative;
	padding-right: 30px;
	margin-bottom: 35px;

	&:before {
		right: 25px;
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: image-url("bg-items/star.png") no-repeat;
		right: 140px;
		width: 15px;
		height: 16px;
	}
}

.register-form__require-container {
	position: relative;

	&:before {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: image-url("bg-items/star.png") no-repeat;
		left: -7px;
		width: 15px;
		height: 16px;
	}
}

.register-form__item {
	margin-bottom: 25px;
}

.register-form__radio {
	display: none;
}

.register-form__label {
	cursor: pointer;
}

.register-form__label-text {
	padding-left: 20px;
	display: inline-block;
	padding-right: 60px;
	position: relative;
	font-size: 16px;
	color: #fff;
	@include font(ital);

	&:before {
		position: absolute;
		display: block;
		content: "";
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 45px;
		height: 38px;
		border-radius: 15px;
		background: #520f51;
	}
}

.register-form__radio:checked + .register-form__label-text:after {
	display: block;
	content: "";
	position: absolute;
	right: 15px;
	background: #fff;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.register-form__item-text {
	padding-left: 20px;
	margin-right: 7px;
	@include font(ital);
	font-size: 16px;
	color: #fff;
	display: inline-block;
}

.registration-block__input_small {
	border: none;
	outline: none;
	color: #fff;
	font-size: 16px;
	@include font(ital);
	width: 45px;
	height: 38px;
	border-radius: 15px;
	background: #520f51;
	padding: 5px;
	text-align: center;

	&.small_first {
		margin-right: 5px;
	}

	&::-webkit-input-placeholder {
		color: rgba(255,255,255, 0.7);
	}
}

.register-form__attach-text {
	vertical-align: middle;
	padding-left: 20px;
	margin-right: 7px;
	@include font(ital);
	font-size: 16px;
	color: #fff;
	display: inline-block;
}

.register-form__file {
	display: none !important;
}

.register-form__label-file {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	@include linksHover();
	width: 140px;
	cursor: pointer;
	background: #520f51;
	border-radius: 15px; 
	height: 41px;
	line-height: 41px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	padding: 0 5px;
}

.register-form__attach {
	margin-bottom: 25px;
}

.registration-block__right {
	padding-right: 113px;
}

.registration-block__clear-btn,
.registration-block__clear-btn:focus,
.registration-block__clear-btn:hover {
	width: 175px;
	background: #482f48;
	text-align: center;
	font-size: 18px;
	color: #fff;
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
	outline: none;
	clear: both;
	text-decoration: underline;
}

.registration-block__clear-btn {
	@include linksHover();
}

/*
* registration-block ...end; 
*/

