.content-block {
	padding-top: 35px;
	padding-bottom: 30px;
}

.content-block_padd {
	padding-left: 45px;
}

.sidebar {
	margin-right: -30px;
}

.sidebar__item {
	font-size: 23px;
	line-height: 30px;
	@include font(ital);
	color: #fff;

	&.active {
		.sidebar__link-title,
		.sidebar__link-title:hover,
		.sidebar__link-title:focus {
			color: #ba368c;
		}
	}
}

.sidebar__link-title,
.sidebar__link-title:hover,
.sidebar__link-title:focus {
	display: inline-block;
}

.sidebar__link-title:hover {
	text-decoration: underline;
}

.sidebar__item-list {
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.sidebar__item-item {
	margin-bottom: 5px;
	position: relative;
	color: #fff;
	font-size: 18px;
	@include font(ital);
	padding-left: 15px;
	line-height: 25px;

	&.active {
		color: #ba368c;
		text-decoration: underline;
	}

	&:before {
		content: "-";
		position: absolute;
		display: inline-block;
		left: 0;
		top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.sidebar__item-link,
.sidebar__item-link:hover,
.sidebar__item-link:focus {
	display: inline-block;
}

.sidebar__item-link:hover {
	text-decoration: underline;
}

.content-block__tomain-btn,
.content-block__tomain-btn:hover,
.content-block__tomain-btn:focus {
	display: inline-block;
	color: #565aa1;
	font-size: 15px;
	text-decoration: underline;
	font-family: 'pfagorasanspro-italic';
	position: absolute;
	top: -20px;
	right: 15px;
}

.content-block__tomain-btn {
	@include linksHover();
}

.news-page__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
}

.news-page__title {
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	@include font(medital);
}

.pagination__list {
	font-size: 0;
	text-align: right;
}

.pagination__item {
	margin-right: 16px;
	position: relative;
	font-size: 18px;
	text-shadow: 0px 3px 2.61px rgba(0, 0, 1, 0.75);
	color: #ba368c;
	line-height: 25px;
	@include font(ital);
	display: inline-block;

	&.active {
		font-size: 22px;
		color: #fff;

		&:before {
			color: #ba368c;
		}
	}

	&:last-child {
		margin-right: 0;

		&:before {
			display: none;
		}
	}

	&:before {
		position: absolute;
		content: "-";
		display: inline-block;
		right: -11px;
	}
}

.pagination__link {
	@include linksHover();
}

.news-page__item-top {
	margin-bottom: 30px;
}

.news-page__item-top-date {
	display: inline-block;
	color: #fff;
	@include font(ital);
	font-size: 16px;
	margin-right: 15px;
}

.news-page__item-top-title {
	display: inline-block;
	color: #fff;
	@include font(ital);
	font-size: 16px;
}

.news-page__item-content {
	display: flex;
}

.news__img-container {
	overflow: hidden;
	width: 90px;
	height: 90px;
	position: relative;
	flex: 0 0 90px;
	margin-right: 30px;
}

.news__img {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.news-page__item-top-description {
	font-size: 16px;
	color: #fff;
	margin-top: -4px;
	max-height: 115px;
	overflow: hidden;
}

.news-page__item-top-link {
	@include linksHover();
}

.news-page__item-top-link,
.news-page__item-top-link:hover,
.news-page__item-top-link:focus {
	display: inline-block;
}

.news-page__item {
	margin-bottom: 40px;
	position: relative;
	padding-bottom: 25px;
	height: 185px;

	&:last-child {
		margin-bottom: 0;
	}

	&:before {
		position: absolute;
		display: block;
		content: "";
		bottom: 0;
		height: 1px;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		background: image-url('bg-items/palka-3.png') no-repeat center;
	}

}

.news-page__list {
	margin-bottom: 55px;
}

/*
* datepick
*/

.ui-datepicker {
	border: 1px solid #c5c5c5;
	border-radius: 3px;
	background: #fff;
}

.ui-widget-header {
	border: 1px solid #dddddd;
	background: #e9e9e9;
	color: #333333;
	font-weight: bold;
	border-radius: 3px;
}

.ui-state-default {
	border: 1px solid #c5c5c5;
	background: #f6f6f6;
	font-weight: normal;
	color: #454545;
}

.ui-state-default.ui-state-highlight {
	border: 1px solid #dad55e;
	background: #fffa90;
	color: #777620;
}

.ui-state-default.ui-state-active {
	border: 1px solid #003eff;
	background: #007fff;
	font-weight: normal;
	color: #ffffff;
}

.ui-datepicker-prev.ui-corner-all,
.ui-datepicker-next.ui-corner-all {
	border: 1px solid #cccccc;
	background: #ededed;
}

.ui-icon.ui-icon-circle-triangle-w {
	cursor: pointer;
	background: image-url('bg-items/arrow_black_left.png') no-repeat;
	width: 6px;
	height: 11px;
	margin-left: 0 !important;
	margin-top: 0 !important;
	transform: translate(-50%, -50%);
}

.ui-icon.ui-icon-circle-triangle-e {
	background: image-url('bg-items/arrow_black_right.png') no-repeat;
	margin-left: 0 !important;
	margin-top: 0 !important;
	transform: translate(-50%, -50%);
	width: 6px;
	height: 11px;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 2px !important;
	top: 2px !important;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 2px !important;
	top: 2px !important;
}

.news-page__input-date {
	width: 173px;
	border: none;
	outline: none;
	background: #520f51;
	color: #fff;
	padding: 5px;
	text-align: center;
	font-size: 18px;
	text-decoration: underline;
	border-radius: 15px;
	cursor: pointer;
	height: 40px;
	@include linksHover();
}