.relkama-in-page__list {
	padding-top: 55px;
	font-size: 0;
	display: flex;
	flex-wrap: wrap;
	margin-right: -60px;
}

.relkama-in-page__item {
	width: 190px;
	margin-bottom: 40px;
	margin-right: 60px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	line-height: 25px;
	@include font(ital);
}

.relkama-in-page__img-container {
	margin-bottom: 15px;
}

.relkama-in-page__img {
	width: 100%;
}