.multi-page__title {
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	font-family: 'pfagorasanspro-mediumital';
}

.multi-page__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 75px 85px 0px 45px;
}

.multi-page__item {
	flex-basis: 26%;
	@include linksHover();
	width: 100px;
	text-align: center;
	position: relative;
	color: #fff;
	font-size: 16px;
	text-decoration: underline;
	margin-bottom: 65px;

	&:before {
		display: block;
		position: absolute;
		content: "";
		transform: translateX(-50%);
		left: 50%;
		top: 0;
	}

	&.video:before {
		background: image-url('bg-items/video-icon.png') no-repeat;
		width: 52px;
		height: 48px;
	}

	&.audio:before {
		background: image-url('bg-items/audio-icon.png') no-repeat;
		width: 61px;
		height: 48px;
	}

}

.multi-page__link {
	padding-top: 60px;
	position: relative;
}

.multi-page__file {
	display: none !important;
}

.multi-page__subm-btn,
.multi-page__subm-btn:hover,
.multi-page__subm-btn:focus {
	display: inline-block;
	@include linksHover();
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	transition: all .3s ease-in-out;
	opacity: 1;
	cursor: pointer;
	background: #520f51;
	border-radius: 15px;
	height: 41px;
	line-height: 41px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	padding: 0 25px;
	margin-bottom: 55px;
}

.multi-page__info-title {
	font-size: 20px;
	line-height: 18px;
	margin-bottom: 10px;
	color: #fff;
	@include font(medital);
}

.multi-page__info-description {
	font-size: 16px;
	color: #fff;
}


.multi-page_audio {
	display: none;

	&.open {
		display: block;
	}
}

.multi-page_video {
	display: none;
	width: 100%;

	&.open {
		display: block;
	}
}

.multimedia-container {
	margin-bottom: 50px;
}