// $map : sprite-map('icons/*.png', $spacing: 70px);

@mixin get-sprite($map, $icon) {
	$sprite-image: sprite-file($map, $icon);
	$sprite-url: sprite-url($map);
	$sprite-position: sprite-position($map, $icon);

	background: $sprite-url $sprite-position no-repeat;

	$sprite-height: image-height($sprite-image);
	$sprite-width: image-width($sprite-image);

	width: $sprite-width;
	height: $sprite-height;
} 

@mixin font($font) {
	@if $font == reg {
		font-family: 'pfagorasanspro-reg';
	} @elseif $font == med {
		font-family: 'pfagorasanspro-medium';
	} @elseif $font == bold {
		font-family: 'pfagorasanspro-bold';
	} @elseif $font == boldital {
		font-family: 'pfagorasanspro-bolditalic';
	} @elseif $font == ital {
		font-family: 'pfagorasanspro-italic';
	} @elseif $font == light {
		font-family: 'pfagorasanspro-light';
	} @elseif $font == medital {
		font-family: 'pfagorasanspro-mediumital';
	} @elseif $font == lightital {
		font-family: 'pfagorasanspro-lightital';
	}
}

@mixin linksHover() {
	transition: all .3s ease-in-out;
	opacity: 1;

	&:hover {
		opacity: 0.6;
	}
}